<html>

<head>
    <meta charset="UTF-8">
    <title>Lists, Conditionals and Computed Properties</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app" class="container my-5">
        <div v-show="incompleteAssignments.length">
            <h3>Assignments</h3>
            <div class="form-group"
                v-for="assignment in incompleteAssignments"
                :key="assignment.name"
            >
                <input type="checkbox" v-model="assignment.complete" class="mr-3">
                <label>{{ assignment.name }}</label>
            </div>
        </div>
        <div v-show="completedAssignments.length">
            <h3>Completed Assignments</h3>
            <div class="form-group"
                v-for="assignment in completedAssignments"
                :key="assignment.name"
            >
                <input type="checkbox" v-model="assignment.complete" class="mr-3">
                <label>{{ assignment.name }}</label>
            </div>
        </div>
    </div>

    <script>
        let app = {
            data() {
                return {
                    assignments: [
                        { name: 'First assignment', complete: false },
                        { name: 'Second assignment', complete: false },
                        { name: 'Third assignment', complete: false },
                        { name: 'Fourth assignment', complete: false },
                    ]
                }
            },
            computed: {
                completedAssignments() {
                    return this.assignments.filter(assignment => assignment.complete)
                },
                incompleteAssignments() {
                    return this.assignments.filter(assignment => !assignment.complete)
                }
            }
        }

        Vue.createApp(app).mount('#app')
    </script>
</body>

</html>
